@model List<UserWithRolesViewModel>



<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Full name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            var user = userWithRoles.User;
            var roles = userWithRoles.Roles;
            <tr>
                <td>@user.UserName</td>
                <td>@user.FullName</td>
                <td>
                    @roles.FirstOrDefault()
                </td>
                <td>
                    <!-- Add a form element around the delete button -->
                    <form asp-controller="Account" asp-action="Delete" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

