@model Biblioteca.Web.Models.BookViewModel

<div class="form-group">
    <label asp-for="Borrower" class="control-label"></label>
    <input asp-for="Borrower" class="form-control" />
    <span asp-validation-for="Borrower" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Author" class="control-label"></label>
    <input asp-for="Author" class="form-control" />
    <span asp-validation-for="Author" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BookId" class="control-label"></label>
    <input asp-for="BookId" class="form-control" />
    <span asp-validation-for="BookId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" type="file" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ISBN" class="control-label"></label>
    <input asp-for="ISBN" class="form-control" />
    <span asp-validation-for="ISBN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Publisher" class="control-label"></label>
    <input asp-for="Publisher" class="form-control" />
    <span asp-validation-for="Publisher" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
    </label>
</div>




