@model Biblioteca.Web.Data.Entities.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Edit</button>

    }
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
</div>
