@model GenreBooksViewModel

<h2>@Model.Genre.Name</h2>


<h3>Books in this Genre:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <!-- Add more table headers for additional book details if needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <!-- Add more table cells for additional book details if needed -->
            </tr>
        }
    </tbody>
</table>
