@model Biblioteca.Web.Data.Entities.Reservation

@{
    ViewData["Title"] = "Edit";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <partial name="_Reservations" />

            <div class="form-group">

                <button type="submit" class="btn btn-primary">Edit</button>
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
