@model Biblioteca.Web.Data.Entities.Membership

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SignUpFee" class="control-label"></label>
    <input asp-for="SignUpFee" class="form-control" />
    <span asp-validation-for="SignUpFee" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChargeRateSixMonth" class="control-label"></label>
    <input asp-for="ChargeRateSixMonth" class="form-control" />
    <span asp-validation-for="ChargeRateSixMonth" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChargeRateTwelveMonth" class="control-label"></label>
    <input asp-for="ChargeRateTwelveMonth" class="form-control" />
    <span asp-validation-for="ChargeRateTwelveMonth" class="text-danger"></span>
</div>